.wbdv-search-btn{
    display: inline;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    margin-left: -100px;
}

.btn-outline-success{
    width: 100% !important;
}

.wbdv-link{
    color: white;
}

.navbar-dark{
    background-color: #8fbc8f;
}

.logo{
    height:100px;
    width: auto;
}
.wbdv-right-element{
    float: right;
    text-align: right;
}

.wbdv-search-box{
    display: inline-flex;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1) !important;
}

.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
    color: rgba(255, 255, 255, 0.5) !important;
}