.btn-outline-success{
    width: 100% !important;
}

.wbdv-link{
    color: white;
}

.navbar-bgcolor{
    background-color: #8fbc8f;
}

.logo{
    height:100px;
    width: auto;
}

.navbar-bgcolor .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1) !important;
}

.navbar-bgcolor:hover .navbar-nav:hover .nav-link:hover {
    color: rgba(255, 255, 255, 0.5) !important;
}